<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Тикер валюты </th>
      <th scope="col">Адрес пополнения </th>
      <th scope="col">Всего пополнено включая трансферы</th>
      <th scope="col">Доступный баланс</th>
      <th scope="col">Зарезервированный баланс</th>
      <th scope="col">Адрес вывода</th>
      <th scope="col">Всего выведено включая трансферы</th>
      <th scope="col">Общий баланс</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BTC</td>
      <td>QREagfREGs4545Adgfdgddgredsfrd</td>
      <td>1.345434547953</td>
      <td>0.000047953</td>
      <td>0.00012</td>
      <td>HTHTgrds643546grfdGAREUG</td>
      <td>1.001258061</td>
      <td>1.001258011</td>
      <td><button class="btn border">Начислить баланс</button></td>
    </tr>
    <tr>
      <td>BTC</td>
      <td>QREagfREGs4545Adgfdgddgredsfrd</td>
      <td>1.345434547953</td>
      <td>0.000047953</td>
      <td>0.00012</td>
      <td>HTHTgrds643546grfdGAREUG</td>
      <td>1.001258061</td>
      <td>1.001258011</td>
      <td><button class="btn border">Начислить баланс</button></td>
    </tr>
  </tbody>
</table>