
<div class="d-flex wrapper p-2 justify-content-between border border-secondary m-2 ">
    <div class="chart" *ngIf="chartData">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors">
        </canvas>
      </div>
  <div *ngFor="let item of items" class="m-2">
    <h5>
      {{item.name}}
    </h5>
    <p class="mt-4">
      {{item.value}}
    </p>
    <p *ngIf="item.bottomValue" class="mt-4">
      {{item.bottomValue}}
    </p>
  </div>
</div>