<div class="border border-secondary mt-2 ml-2 mr-2 p-3 d-flex justify-content-between align-items-center">
  <h4 class="">Пользователи / Василий Пушкин</h4>
  <div class="form-group mb-0">
    <input type="text" class="form-control" placeholder="Search">
  </div>
</div>
<div class="d-flex justify-content-between">
  <div class="p-2">
    <div><span>Email:</span></div>
    <div><span>ID user:</span></div>
    <div><span>Nikname:</span></div>
    <div><span>IP регистрации:</span></div>
    <div><span>Дата регистрации:</span></div>
    <div><span>Дата последнего входа:</span></div>
    <div><span>Номер телефона:</span></div>
    <div class="d-flex align-items-center">
      <span>Тип юзера:</span>
      <select class="form-control">
        <option *ngFor="let type of userTypes">{{type}}</option>
      </select>
    </div>
    <div><span>Статус:</span></div>
    <div><span>Пройдена или нет верификация:</span></div>
    <div><span>Страна регистрации:</span></div>
    <div><span>Эквивалентный баланс в долларах:</span></div>
  </div>
  <div class="p-2">
    <select class="form-control">
      <option>Представитель монеты</option>
    </select>
    <div class="mt-5">
      <h6>Доступ к пользовательским операциям</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isLockedLogin">
        <label class="form-check-label" for="isLockedLogin">
          Заблокирован логин
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isInput">
        <label class="form-check-label" for="isInput">
          Ввод
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isOutput">
        <label class="form-check-label" for="isOutput">
          Вывод
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isOutput">
        <label class="form-check-label" for="isOutput">
          Перевод
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="transfer">
        <label class="form-check-label" for="transfer">
          Торги
        </label>
      </div>
    </div>
  </div>
  <div>
    <div class="border border-secondary text-center mr-4 p-2">
      <h4>Рейтинг</h4>
      <h4 class="primary">100%</h4>
    </div>
    <button class="btn border-secondary p-2 m-5">Добавить комментарий</button>
  </div>
</div>
<app-user-table></app-user-table>