<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin login-margin-top ">
        <div class="card-body">
          <h5 class="card-title text-center">Log In</h5>
          <form class="form-signin" [formGroup]="loginForm" (submit)="submitForm($event)">
            <div class="form-label-group mb-3">
              <label for="inputEmail">Email address</label>
              <input
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="Email address"
                required
                autofocus
                formControlName="email"
              >
            </div>

            <div class="form-label-group mb-4">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
                formControlName="password"
              >
            </div>

            <div class="text-center ">
              <button
                type="submit"
                class="btn btn-success btn-lg"
                [disabled]="!loginForm.valid || loading"
              >Log in</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
