<div class="overlay">
  <div class="popup">
    <div class="modal-header">
      <h4 class="modal-title">Изменить внешние балансы {{item.coin}}</h4>
      <button type="button" (click)="close()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="d-flex justify-content-between p-1">
          <span>Курс в {{item.coin}}</span>
          <span>0.1110945</span>
        </div>
        <div class="d-flex justify-content-between p-1">
          <span>Балансы главного кошелька</span>
          <span>0.1110945</span>
        </div>
        <div class="d-flex justify-content-between p-1">
          <span>Балансы всех резервных кошельков</span>
          <span>0.1110945</span>
        </div>
        <div class="d-flex justify-content-between p-1">
          <span>Учет прибыли</span>
          <input class="form-control" formControlName="profit">
        </div>
        <div class="d-flex justify-content-between p-1">
          <span>Учет ручного изменения баланса</span>
          <input class="form-control" formControlName="balanceChange">
        </div>
      </form>
      <hr>
      <div>
        <div class="d-flex justify-content-between p-1">
          <span>Балансы всех резервных кошельков 1</span>
          <span>30.11.19</span>
          <span>0</span>
        </div>
        <div>
          <button class="btn m-2 btn-success">Change</button>
          <button class="btn m-2 btn-danger">Remove</button>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-between p-1">
          <span>Балансы всех резервных кошельков 2</span>
          <span>30.11.19</span>
          <span>-2</span>
        </div>
        <div>
          <button class="btn m-2 btn-success">Change</button>
          <button class="btn m-2 btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isAddWalletMode">
      <hr>
      <div class="d-flex justify-content-between p-1">
        <span class="w-50 pl-3 pr-2">Балансы всех резервных кошельков 3</span>
        <input class="form-control w-25">
        <input class="form-control w-25">
      </div>

      <div class="d-flex justify-content-end">
        <div class="d-flex justify-content-berween w-50">
          <span class="w-50">Адресс </span>
          <span class="w-50">Имя </span>
        </div>
      </div>

      <div class="d-flex justify-content-between p-1">
        <button *ngIf="isAddWalletMode" class="btn m-2 ml-3 btn-success" (click)="onAddResevedWallet()">Create</button>
        <input class="form-control w-50 mt-2">
      </div>
    </ng-container>

    <div class="modal-footer justify-content-start">
      <button *ngIf="!isAddWalletMode" class="btn m-1 btn-success" (click)="onAddResevedWallet()">Add reseved
        wallet</button>
    </div>
  </div>
</div>