<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">id валюты</th>
      <th scope="col">Валюта</th>
      <th scope="col">Курс USD</th>
      <th scope="col">Баланс главного кошелька</th>
      <th scope="col">Баланс всех резервных кошельков</th>
      <th scope="col">Учет разбаланса</th>
      <th scope="col">Общий баланс по кошелькам</th>
      <th scope="col">Общий баланс по кошелькам в USD</th>
      <th scope="col">Дата последнего обновление</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="showDetails()">
      <td>1</td>
      <td>USD</td>
      <td>1</td>
      <td>0</td>
      <td>88660.1</td>
      <td>100</td>
      <td>88660.1</td>
      <td>88660.1</td>
      <td>17.04.2019 15:23</td>
    </tr>
    <tr (click)="showDetails()">
      <td>1</td>
      <td>EUR</td>
      <td>1</td>
      <td>0</td>
      <td>88660.1</td>
      <td>100</td>
      <td>88660.1</td>
      <td>88660.1</td>
      <td>17.04.2019 15:23</td>
    </tr>
    <tr (click)="showDetails()">
      <td>1</td>
      <td>BTC</td>
      <td>1</td>
      <td>0</td>
      <td>88660.1</td>
      <td>100</td>
      <td>88660.1</td>
      <td>88660.1</td>
      <td>17.04.2019 15:23</td>
    </tr>
  </tbody>
</table>

<div *ngIf="popupService.getExternatBalancesPopupListener() | async">
  <app-external-balances-popup></app-external-balances-popup>
</div>