<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Дата/время действия</th>
      <th scope="col">IP с которого осуществлялось действие</th>
      <th scope="col">Тип операции</th>
      <th scope="col">Владелец заявки</th>
      <th scope="col">Адресс -></th>
      <th scope="col">Тикер валюты</th>
      <th scope="col">Сумма</th>
      <th scope="col">Комиссия</th>
      <th scope="col">Принявший заявку</th>
      <th scope="col">-> Адресс</th>
      <th scope="col">Тикер входящией валюты</th>
      <th scope="col">Сумма исходящей валюты</th>
      <th scope="col">Курс валюты в USD на момент исполнения транзакции</th>
      <th scope="col">Hash</th>
      <th scope="col">Тип ордера</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12.12.2012</td>
      <td>23.24.45.46</td>
      <td>пополнен</td>
      <td>qwerty@gmail.com</td>
      <td>qwerty@gmail.com</td>
      <td>BTC</td>
      <td></td>
      <td></td>
      <td>BTC</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>