<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">id валюты</th>
      <th scope="col">Тикер монеты</th>
      <th scope="col">Курс USD</th>
      <th scope="col">Сума фактического остатка на всех кошельках (к-во монет)</th>
      <th scope="col">Сума фактического остатка на всех кошельках в USD</th>
      <th scope="col">Сума обязательств перед пользователями (к-во монет)</th>
      <th scope="col">Сума обязательств перед пользователями в USD</th>
      <th scope="col">Отклонение (к-во монет)</th>
      <th scope="col">Отклонение в USD</th>
      <th scope="col">Мониторинг</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>USD</td>
      <td>1</td>
      <td>0</td>
      <td>88660.1</td>
      <td>100</td>
      <td>88660.1</td>
      <td>88660.1</td>
      <td>17.04.2019 15:23</td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td>EUR</td>
      <td>1</td>
      <td>0</td>
      <td>88660.1</td>
      <td>100</td>
      <td>88660.1</td>
      <td>88660.1</td>
      <td>17.04.2019 15:23</td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td>BTC</td>
      <td>1</td>
      <td>0</td>
      <td>88660.1</td>
      <td>100</td>
      <td>88660.1</td>
      <td>88660.1</td>
      <td>17.04.2019 15:23</td>
      <td></td>
    </tr>
  </tbody>
</table>
